* {
    margin: 0;
    padding: 0;
}
a {
    color:white;
    text-decoration: none;
}
body {
    background-image:url(images/background.jpg) ;
    font-family: "Kreon", serif;
}

#nav-bar {
    background: #202020;
    display: flex;
    justify-content: space-between;
    width: 100VW;
}
footer{
    background-color: #202020;
    height: 50px;
    width: 100vw;
    text-align: center;
    align-items: center;
    color:gray;
    padding-top: 50px;
}

#logo {
    width: 25%;
    margin: 20px;
    padding: 20px;
}

#nav-links {
    margin-right: 120px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;

    
}
a:hover{
    text-decoration: underline;
    color: gray;
    transition: 0.7s ease;
}

.page-content {
    width: 100vw;
}

#banner-image{
    width: 100vw;
}
#banner-text{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size:3vw;
  color: white;
}

.text-container {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width:fit-content;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.2);
    border-radius: 25px;
    
    text-align: center;
    color:darkslategrey
}
#mission {
    font-size: x-large;
}


.fade-in {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
  }
  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


