{% extends base.html %}
{% load static %}

{% block content %}
        <img src = "{% static 'images/KratomLeaves3.jpg' %}" id="banner-image">
        <p id="banner-text" class="fade-in">Welcome to Element Kratom.</p>

        <div class="text-container">
            <p id="mission"> Element Kratom is a Pennsylvania based family owned Kratom company delivering the best Kratom at the best price possible. <br><br>
                We test every batch for microbials, metals, and potency prior to import and after arrival. <br><br>
                Element Kratom is honest to goodness 100% pure unadulterated Kratom.<br><br>
                Our family at Element Kratom invites you to join us in our Kratom revolution.</p>
        </div>
{% endblock %}

