{% extends 'base.html' %}
{% load static %}

{% block content %}
<img src="{% static 'images/KratomLeaves3.jpg' %}" id="banner-image">
<p id="banner-text" class="fade-in">Welcome to Element Kratom.</p>

<div class="text-container">
    <h1 id="mission"> We are a family owned kratom company delivering the best possible kratom at the best possible
        price.</h1>
</div>
<hr>
<div class="what-is-kratom">
    <img src="{% static 'images/kratom.jpg' %}" height="50%" width="50%">
    <div class="flex-text-box">
        <h2>What is Kratom?</h2><br>
        <p><b><em>Mitragyna Speciosa</em></b> (commonly known as kratom) is a tropical</p>
        <p>evergreen tree in the coffee family native to Southeast Asia.</p><br>
        <p><b><em>Mitragyna Speciosa</em></b> naturally grows in Thailand, Indonesia,</p>
        <p>Malaysia, Myanmar, and Papua New Guinea,</p>
        <p> where it has been used in traditional medicine since at least the 19th century.</p><br><br>
        <a href="{% url 'home' %}">
            <h3 class="red-bali button">Read More about Kratom Here</h3>
        </a>
    </div>
</div>
<hr>

<div class="text-container">
    <h1>Why Element Kratom?</h1>
    <img src="{% static 'images/KratomLeaf.png' %}" width="20%">
    <h3>Our staff uses the products that we make. We understand how important quality and consistency are to our valued
        customers.</h3><br>
    <h3>We test every batch for microbials, metals and potency prior to import and after arrival.</h3><br>
    <h3>Element Kratom is honest to goodness 100% pure unadulterated kratom.</h3>
</div>


{% endblock %}