{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class='title'>Our Products</h1>


<div class="text-container-products">
    <h1>Element Kratom 25 Count Capsules</h1>
    
    <div class="product-container">
        <div class="product red-bali">
            <a href="{% url 'product_page' %}"><img src="{% static 'images/25RedPouch.png' %}"></a>
            <a href="{% url 'product_page' %}"><h2>Red Bali</h2></a>
        </div>

        <div class="product maeng-da">
            <img src="{% static 'images/25BluePouch.png' %}">
            <h2>Maeng Da</h2>
        </div>

        <div class="product white-indo">
            <img src="{% static 'images/25WhitePouch.png' %}">
            <h2>White Indo</h2>
        </div>

        <div class="product green-malay">
            <img src="{% static 'images/25GreenPouch.png' %}">
            <h2>Green Malay</h2>
        </div>
    </div>
</div>

<div class="text-container-products">
    <h1>Element Kratom 50 Count Capsules</h1>
    <div class="product-container">
        <div class="product red-bali">
            <img src="{% static 'images/50RedPouch.png' %}">
            <h2>Red Bali</h2>
        </div>

        <div class="product maeng-da">
            <img src="{% static 'images/50BluePouch.png' %}">
            <h2>Maeng Da</h2>
        </div>

        <div class="product white-indo">
            <img src="{% static 'images/50WhitePouch.png' %}">
            <h2>White Indo</h2>
        </div>

        <div class="product green-malay">
            <img src="{% static 'images/50GreenPouch.png' %}">
            <h2>Green Malay</h2>
        </div>
    </div>
</div>


</div>
{% endblock %}